---
title: Home
layout: default
inhibit_title: true
---

#home-page
  #top-row
    #intro
      :markdown
        Immutant is an application server for [Clojure](http://clojure.org) applications built on top of 
        [JBossAS 7](http://www.jboss.org/as7). It currently provides support for [Ring](https://github.com/mmcgrana/ring) 
        handlers and messaging based on [HornetQ](http://www.jboss.org/hornetq). It is a new project,
        and we are working furiously on addding new features, such as:
      
        * Daemons (long-running threads)
        * Scheduled jobs
        * Cluster distributed futures
        * XA distributed transactions
        * Cluster distributed caching
  
    #callout  
      :markdown
        Want to get involved? Come see us in [IRC](/community/#irc) or join our [mailing lists](/community/mailing_lists/)!

  #bottom-row
    .left-column
      #latest-news
        %h1 Latest News &amp; Articles
        - for post in site.posts[0,4] do
          .item
            %h2 
              %a{:href=>post.url}= post.title
            %h3 #{post.date.strftime( '%d %B %Y' )}
            .body
              #{summarize( html_to_text( post.content ), 50 )}...
            .tail
              = post.disqus_comments_link
              | 
              %a{:href=>post.url} Read more
        #even-more
          %a{:href=>'/news'}Even more news!
    .right-column
      #upcoming-talks
        %h1 Upcoming Talks/Conferences
        - for talk in site.upcoming_talks
          .item{:effective_date=>talk.effective_date}
            .event_details
              .event_date
                #{talk.event_date}
              .event_location
                #{talk.location}
            %h2
              %a{:href=>talk.event_url}
                = talk.event
            - if ( talk.event_logo_url )
              %a{:href=>talk.event_url}
                %img.event_logo{:src=>talk.event_logo_url}
            - if talk.title      
              %h3
                = talk.title
            .details
              - if talk.details
                = talk.details
              - else              
                #{talk.presentor} will present at #{talk.event} in #{talk.location}.
            .links
              %a{:href=>talk.event_url}
                #{talk.event} Site

:javascript
  $(document).ready( function() {
    $('#upcoming-talks .item').each( function() {
      effective_date = $(this).attr( 'effective_date' );
      today = new Date();
      month = today.getMonth()+1;
      if ( month < 10 ) {
        month = '0' + month;
      }
      date = today.getDate();
      if ( date < 10 ) {
        date = '0' + date;
      }
      today_str = '' + today.getFullYear() + month + date;
      if ( today_str > effective_date ) {
        $(this).hide();  
      }
    } );
  } );

