#latest-release
  .tabbable
    %ul.nav.nav-tabs
      %li.bold.active
        %a{:href=>'#stable-2x-release', 'data-toggle'=>'tab'}Latest 2.x Release
      %li.bold
        %a{:href=>'#stable-1x-release', 'data-toggle'=>'tab'}Latest 1.x Release
      %li.bold
        %a{:href=>'#incremental-release', 'data-toggle'=>'tab'}Latest Incremental Build
    .tab-content
      #stable-2x-release.tab-pane.active
        - version = latest_2x_release.version
        - announcement = announcement_for_version( version )

        :markdown
          __Version *#{version}* was released on
          #{announcement && format_date( announcement.date )}__.
          You can [read the announcement](#{announcement && announcement.url})
          or [browse the documentation](/documentation/#{version}/apidoc/).

        .install-command
          :markdown
            For usage, see the [Installation guide](/documentation/#{version}/apidoc/guide-installation.html).

      #stable-1x-release.tab-pane
        - version = latest_1x_release.version
        - announcement = announcement_for_version( version )

        :markdown
          __Version *#{version}* was released on
          #{announcement && format_date( announcement.date )}__.
          You can [read the announcement](#{announcement && announcement.url})
          or [browse the documentation](/documentation/#{version}/).

        .install-command
          :markdown
            Install via:

                $ lein immutant install #{version}

            Don't have the `lein-immutant` plugin installed?
            [Learn how](/tutorials-1x/installation/), or
            [download the zip archive](#{latest_1x_release.urls.remote_dist_zip}).


      #incremental-release.tab-pane
        :markdown

          Every push to our [git
          repository](https://github.com/immutant/immutant) generates
          a build on our [CI
          server](https://projectodd.ci.cloudbees.com/job/immutant-incremental/).
          You can view the results of those builds on our
          [2.x](/builds/2x/) or [1.x](/builds/) incremental build
          pages.
