#upcoming-talks
  - for talk in site.upcoming_talks
    .item{:effective_date=>talk.effective_date}
      .row
        .span3
          %h3
            %a{:href=>talk.event_url}
              = talk.event
        .span3
          .event-details
            #{talk.event_date}
            %br
            #{talk.location}
      - if ( talk.event_logo_url )
        %a{:href=>talk.event_url}
          %img.event-logo{:src=>talk.event_logo_url}
      - if talk.title
        %h3
          = talk.title
      .details
        - if talk.details
          = talk.details
        - else
          #{talk.presentor} will present at #{talk.event} in #{talk.location}.
      %hr
  #get-in-touch
    :markdown
      Interested in hosting or giving a talk on Immutant?
      [Get in touch](/community/).

:javascript
  $(document).ready( function() {
    $('#upcoming-talks .item').each( function() {
      effective_date = $(this).attr( 'effective_date' );
      today = new Date();
      month = today.getMonth()+1;
      if ( month < 10 ) {
        month = '0' + month;
      }
      date = today.getDate();
      if ( date < 10 ) {
        date = '0' + date;
      }
      today_str = '' + today.getFullYear() + month + date;
      if ( today_str > effective_date ) {
        $(this).hide();
      }
    } );
  } );
