---
layout: default
title: Releases
---

#intro
  :markdown
    Official, versioned releases are listed here. You can see a list of incremental builds on
    our [builds page](/builds/).

:markdown
  For releases between **0.9.0** and **1.0.2**,
  there were two release distributions avaialable:

  * *slim* - a smaller, lighter weight distribution that only
    includes the functionality needed to run Immutant Clojure
    applications, but not JavaEE applications. 
  * *full* - the full JBossAS distribution with Immutant
    included. If you need to run JavaEE applications alongside
    Clojure apps in the same AS, this is the distribution for
    you.

  Older releases and builds only provide a single distribution
  which is analogous to the *full* distribution.

  For **1.1.0** and newer, only the *slim* distribution is provided.

%p
  %table.table.table-striped.table-bordered
    %tr
      %th Version
      %th Release Date
      %th Binary Distribution
      %th Documentation
      %th Changelog
      %th Git Tree
    - site.releases.each do |release|
      - announcement = announcement_for_version(release.version)
      %tr
        %td.version
          %a{:href => announcement.url}= release.version
        %td.date
          = announcement.date.strftime( '%d %B %Y' )
        %td.dist
          - if release.dist_type == :bin || release.dist_type == :slim_only
            %a{:href => release.urls.remote_dist_zip, :rel => latest_release?(release) ? 'download' : 'nofollow'}
              == #{release.dist_type == :slim_only ? "slim " : ""}ZIP archive (#{release.dist_size}mb)
          - else
            %ul
              %li
                %a{:href => release.urls.remote_dist_zip, :rel => latest_release?(release) ? 'download' : 'nofollow'}
                  == slim ZIP archive (#{release.dist_size}mb)
              %li
                %a{:href => release.urls.remote_full_zip, :rel => latest_release?(release) ? 'download' : 'nofollow'}
                  == full ZIP archive (#{release.full_dist_size}mb)
        %td
          - rel = latest_release?(release) ? 'documentation' : 'nofollow'
          %ul
            %li
              Browse:
              %ul
                %li
                  %a{:href=>release.urls.docs.browse, :rel=>rel} Manual
                %li
                  %a{:href=>release.urls.docs.apidocs, :rel=>rel} Clojure API Docs
            %li
              %a{:href=>release.urls.docs.remote_html_zip, :rel=>rel} HTML Manual (ZIP)
        %td
          %ul
            %li
              %a{:href=>release.urls.jira} JIRA Issues
            %li
              %a{:href=>release.urls.github.log} Git Log
        %td
          %a{:href=>release.urls.github.tree} Browse

