---
layout: default
---

.page-header
  %h1
    == Tutorial: #{page.title}

.row
  #main-column.span8
    .tutorial.article
      .byline
        .date
          Last updated:
          %span.date
            = format_date( page.date )
        .author
          Author:
          = author( page )
      .body
        ~ content
      .comments
        = page.disqus_comments

  #sidebar-column.span4
    .tutorial-nav
      %h3 All Tutorials
      %ul.nav.nav-tabs.nav-stacked
        - site.tutorials.each do |t|
          %li{:class => (t == page) ? 'current' : ''}
            %a{:href => t.output_path}= t.title
